@font-face {
  font-family: "sf-pro";
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "sf-pro-bold";
  src: url("../fonts/SFPro-Bold.ttf") format("truetype");
}
.blue {
  color: #433fd1;
}

.extra-bold {
  text-shadow: -0.5px 0 #121518, 0 0.5px #121518, 0.5px 0 #121518, 0 -0.5px #121518;
}

.bold {
  font-family: sf-pro-bold;
  font-weight: 900;
}

.logo {
  margin: 0 10px 0 10px;
}
.logo .hexagon {
  border: 1px solid transparent;
  border-radius: 10px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: linear-gradient(90deg, #433fd1 0%, #d53d9c 100%);
  width: 35px;
  height: 35px;
  pointer-events: none;
  position: relative;
}
.logo .hexagon .span1 {
  position: absolute;
  height: 40%;
  width: 3px;
  border-radius: 5px;
  background: #f6f7ff;
  left: calc(50% - 8px);
  top: calc(40% + 1px);
}
.logo .hexagon .span2 {
  position: absolute;
  height: 40%;
  width: 3px;
  border-radius: 5px;
  background: #f6f7ff;
  left: calc(50% - 2px);
  top: calc(40% - 2px);
}
.logo .hexagon .span3 {
  position: absolute;
  height: 40%;
  width: 3px;
  border-radius: 5px;
  background: #f6f7ff;
  left: calc(50% + 4px);
  top: calc(40% - 5px);
}

.content_renderer {
  overflow: hidden;
}
.content_renderer .level {
  width: 100%;
  height: 50%;
  padding: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_renderer .level .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  z-index: 2;
  border: 10px solid #a3a8b0;
  background-image: url(../img/widowmaker.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.content_renderer .level .level_counter {
  position: absolute;
}

@keyframes animate {
  100% {
    stroke-dashoffset: 260;
  }
}
.pie-wrapper {
  height: 120px;
  width: 120px;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 120px;
  width: 120px;
  clip: rect(0, 120px, 120px, 60px);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 120px;
  width: 120px;
  border: 12px solid #3498db;
  border-radius: 50%;
  clip: rect(0, 60px, 120px, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  border-radius: 50%;
  bottom: 48px;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 30px;
  left: 48px;
  line-height: 336px;
  position: absolute;
  right: 48px;
  text-align: center;
  top: 48px;
}
.pie-wrapper .shadow {
  height: 120px;
  width: 120px;
  border: 12px solid #eceffa;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #a3a8b0;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress .pie .half-circle {
  border-color: #433fd1;
}
.pie-wrapper.progress .pie .left-side {
  animation: animate 4s infinite;
  transform: rotate(288deg);
}
.pie-wrapper.progress .pie .right-side {
  transform: rotate(180deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #eceffa;
  font-family: sf-pro;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.main_wrapper {
  width: 100%;
  height: 97%;
  background: #f6f7ff;
  border-radius: 2rem;
  margin: 15px 15px 15px 15px;
}

.header_top {
  margin: 20px 20px 50px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(16, 1fr);
}
.header_top .logo {
  align-self: center;
}
.header_top .header_title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
  font-size: 18px;
}
.header_top .header_search {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 6;
  grid-column-end: 11;
  justify-self: center;
  align-self: center;
  position: relative;
  width: 540px;
}
.header_top .header_search .servers,
.header_top .header_search .search_input,
.header_top .header_search .search_btn {
  position: absolute;
  padding: 10px;
  border-radius: 1rem;
  overflow: hidden;
  outline: none;
  border: none;
  background: #433fd1;
  color: #f6f7ff;
  font-size: 12px;
  cursor: pointer;
}
.header_top .header_search .servers {
  width: 60px;
  left: 0;
  z-index: 2;
}
.header_top .header_search .search_input {
  cursor: auto;
  width: 500px;
  padding-left: 90px;
  background: #fff;
  color: #222;
}
.header_top .header_search .search_btn {
  width: 40px;
  right: 0;
  z-index: 2;
}
.header_top .header_account-mngr {
  grid-column-start: 14;
  grid-column-end: 16;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}
.header_top .header_account-mngr .language {
  padding: 10px;
  border-radius: 1rem;
  overflow: hidden;
  outline: none;
  border: none;
  background: #433fd1;
  color: #f6f7ff;
  font-size: 12px;
  cursor: pointer;
  width: 60px;
}
.header_top .header_account-mngr .chat {
  margin: 20px;
  color: #433fd1;
  font-size: 22px;
  justify-self: center;
  align-self: center;
  position: relative;
}
.header_top .header_account-mngr .favourite {
  margin: 20px;
  color: #433fd1;
  font-size: 22px;
  justify-self: center;
  align-self: center;
  position: relative;
}
.header_top .header_account-mngr .notification {
  margin: 20px;
  color: #433fd1;
  font-size: 22px;
  justify-self: center;
  align-self: center;
  position: relative;
  position: relative;
}
.header_top .header_account-mngr .notification:after {
  content: "3";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #d53d9c;
  font-size: 10px;
  border-radius: 10px;
  right: -3px;
  top: 0;
  color: #fff;
  text-align: center;
}
.header_top .header_account-mngr .user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_top .header_account-mngr .user .avatar_link {
  position: relative;
}
.header_top .header_account-mngr .user .avatar_link:after {
  padding: 2px;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #3abf5d;
  font-size: 10px;
  border-radius: 10px;
  left: 10px;
  bottom: 15px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fff;
}
.header_top .header_account-mngr .user .avatar {
  margin: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  clip-path: circle(50% at 50% 50%);
}
.header_top .header_account-mngr .user i {
  font-size: 1rem;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}
.content .side_bar {
  width: 250px;
  height: 100%;
  border-radius: 2rem;
  display: flex;
  background-color: #ffffff;
  box-shadow: inset 6px 1px 10px -8px #494949;
}
.content .side_bar .games {
  width: 40%;
  height: 100%;
  background: #433fd1;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
}
.content .side_bar .games .game_link,
.content .side_bar .games .add_game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background: #433fd1;
  box-shadow: -1px 2px 30px -8px rgba(236, 239, 250, 0.53);
  margin-top: 30px;
}
.content .side_bar .games .bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background: #433fd1;
  margin-top: 30px;
  font-size: 24px;
  color: #f6f7ff;
}
.content .side_bar .games .dota {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_symbol.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.content .side_bar .games .overwatch {
  background-image: url("https://playoverwatch.com/svg?path=https%3A%2F%2Fstatic.playoverwatch.com%2Fimg%2Flogos%2Flogo--overwatch-7d38f33606.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.content .side_bar .games .fa-gg-circle {
  font-size: 28px;
  color: #ffffff;
}
.content .side_bar .games .add_game {
  border: 3px dashed #f6f7ff;
  color: #f6f7ff;
  box-shadow: inset 8px 100px 7px -5px rgba(236, 239, 250, 0.1);
}
.content .side_bar .games .background_mode {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  grid-row: 10/-1;
}
.content .side_bar .games .background_mode i {
  color: #fff;
  font-size: 38px;
  cursor: pointer;
}
.content .side_bar .games .background_mode i:hover {
  color: #121518;
}
.content .nav {
  width: 100%;
  border-radius: 2rem;
}
.content .nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.content .nav ul .nav_list {
  cursor: pointer;
  width: 100%;
  list-style: none;
  padding: 20px 10px 15px 40px;
  font-size: 12px;
  color: #a3a8b0;
}
.content .nav ul .nav_list i {
  padding: 5px;
  font-size: 1rem;
}
.content .nav ul .nav_list:hover {
  color: #433fd1;
}
.content .nav ul .active {
  color: #433fd1;
}
.content .content_renderer {
  background-color: #f6f7ff;
  width: calc(100% - 300px);
  margin-left: 50px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}
.content .content_renderer .header {
  font-size: 30px;
  width: 100%;
  color: #433fd1;
  font-weight: 900;
}
.content .content_renderer .info {
  grid-row: 2/4;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 50px;
}
.content .content_renderer .info .character_header {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.content .content_renderer .info .character_header .caption {
  color: #121518;
  width: 80%;
  text-align: center;
}
.content .content_renderer .info .character_header i {
  color: #a3a8b0;
  font-size: 1em;
}
.content .content_renderer .info .character_header i:hover {
  color: #433fd1;
}
.content .content_renderer .info .character,
.content .content_renderer .info .role,
.content .content_renderer .info .rank,
.content .content_renderer .info .hero {
  border: 1px solid black;
}
.content .content_renderer .player > div {
  background: #f6f7ff;
  border-radius: 1rem;
}

/*# sourceMappingURL=styles.css.map */
