@font-face {
  font-family: "sf-pro";
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "sf-pro-bold";
  src: url("../fonts/SFPro-Bold.ttf") format("truetype");
}
.green_bg {
  background: #3abf5d;
}

.blue_bg {
  background: #433fd1;
}

.rose_bg {
  background: #d53d9c;
}

.silver_bg {
  background: #eceffa;
  border: 1px solid #e0e5f7;
}

.blue {
  color: #433fd1;
}

.extra-bold {
  text-shadow: -0.5px 0 #121518, 0 0.5px #121518, 0.5px 0 #121518, 0 -0.5px #121518;
}

.bold {
  font-family: sf-pro-bold;
  font-weight: bold;
}

.green {
  color: #3abf5d;
}

.font-8 {
  font-size: 8px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.silver {
  color: #a3a8b0;
}

.h-10 {
  height: 10px;
}

.h-12 {
  height: 12px;
}

.h-14 {
  height: 14px;
}

.h-16 {
  height: 16px;
}

.h-18 {
  height: 18px;
}

.h-20 {
  height: 20px;
}

.black {
  color: #121518;
}

.red {
  color: #d53d9c;
}

#border_red {
  border-color: #d53d9c;
}

.flex {
  display: flex;
}

.logo {
  margin: 0 10px 0 10px;
}
.logo .hexagon {
  border: 1px solid transparent;
  border-radius: 10px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: linear-gradient(90deg, #433fd1 0%, #d53d9c 100%);
  width: 35px;
  height: 40px;
  pointer-events: none;
  position: relative;
}
.logo .hexagon .span1 {
  position: absolute;
  height: 40%;
  width: 3px;
  border-radius: 5px;
  background: #f6f7ff;
  left: calc(50% - 8px);
  top: calc(40% + 1px);
}
.logo .hexagon .span2 {
  position: absolute;
  height: 40%;
  width: 3px;
  border-radius: 5px;
  background: #f6f7ff;
  left: calc(50% - 2px);
  top: calc(40% - 2px);
}
.logo .hexagon .span3 {
  position: absolute;
  height: 40%;
  width: 3px;
  border-radius: 5px;
  background: #f6f7ff;
  left: calc(50% + 4px);
  top: calc(40% - 5px);
}

.content_renderer {
  overflow: hidden;
}
.content_renderer .character .update {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 30px;
  color: #a3a8b0;
}
.content_renderer .character .refresh {
  transition: ease 1s;
}
.content_renderer .level {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_renderer .level .hero_rank {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background-image: url(../img/avatar2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content_renderer .level .level_counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  background: #433fd1;
  color: #eceffa;
  border-radius: 2rem;
  font-size: 12px;
  padding: 5px;
}

.pie-wrapper {
  height: 100px;
  width: 100px;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100px;
  width: 100px;
  clip: rect(0, 100px, 100px, 50px);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .left-side {
  position: relative;
}
.pie-wrapper .pie .left-side:after {
  position: absolute;
  content: "";
  top: -32px;
  right: 36px;
  width: 25px;
  height: 50px;
  background: #eceffa;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  z-index: 10;
  overflow: hidden;
  clip-path: polygon(6% 46%, 21% 60%, 32% 66%, 46% 68%, 59% 64%, 70% 57%, 85% 43%, 76% 68%, 62% 78%, 36% 80%, 20% 76%, 11% 65%);
  transform: rotate(-95deg);
}
.pie-wrapper .pie .half-circle {
  height: 100px;
  width: 100px;
  border: 10px solid #433fd1;
  border-radius: 100%;
  clip: rect(0, 50px, 100px, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .shadow {
  height: 100px;
  width: 100px;
  border: 10px solid #eceffa;
  border-radius: 50%;
}

.progress .half-circle {
  border-color: #433fd1;
}

.search_hero {
  grid-row: 2/3;
  width: 95%;
  height: 100px;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search_hero .path,
.search_hero .role,
.search_hero .game_mode,
.search_hero .map,
.search_hero .hero_rank,
.search_hero .graphic_mode,
.search_hero .hero,
.search_hero .search {
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.search_hero .search_hero_select {
  outline: none;
  width: 120px;
  border-radius: 2rem;
  border: 1px solid #eceffa;
  padding: 5px;
  font-size: 12px;
  background-color: #eceffa;
}
.search_hero .search > .search_btn {
  height: 50%;
  width: 100px;
  font-size: 12px;
  border-radius: 2rem;
  background-color: #433fd1;
  border: none;
  color: #f6f7ff;
  cursor: pointer;
}

.search_result {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
  margin-top: 50px;
  border-radius: 2rem;
  width: 95%;
  grid-row: 3/-1;
}
.search_result > .header {
  border-bottom: 1px solid #eceffa;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search_result .hero_played {
  margin: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_result .hero_avatar {
  margin-right: 15px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.search_result .hero_name {
  justify-self: flex-start;
  width: 130px;
  display: flex;
  align-items: center;
}
.search_result .show_btn {
  color: #433fd1;
  margin-right: 15px;
  cursor: pointer;
}

.top_five {
  grid-row: 2/4;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.top_five_player {
  height: 220px;
  width: 90%;
  border: 1px solid #eceffa;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top_five_player .position_nickname {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
}
.top_five_player .position_nickname .position {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #433fd1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f7ff;
}
.top_five_player .position_nickname .position .crown {
  width: 20px;
  height: 15px;
  background: url(../img/crown.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top_five_player .position_nickname .position .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #121518;
}
.top_five_player .position_nickname .name {
  margin-top: 5px;
  align-self: center;
}
.top_five_player .avatar {
  width: 90px;
  height: 90px;
  border: 4px solid #433fd1;
  border-radius: 50%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top_five_player .raiting {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_five_player .raiting span {
  margin-right: 5px;
}
.top_five_player .win_lose_rate_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.top_five_player .win_lose_rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  border: 1px solid #eceffa;
  height: 30px;
  background: #eceffa;
  border-radius: 2rem;
  transition: 1s ease;
}
.top_five_player .win_lose_rate .win_rating {
  display: flex;
  width: 0%;
  transition: 1s ease;
  align-items: center;
  height: 100%;
  background: #433fd1;
  border-radius: 2rem;
  padding-left: 10px;
}
.top_five_player .win_lose_rate .lose_rating {
  padding-right: 10px;
}

.top_ten_player {
  grid-row: 4/-1;
  width: 95%;
  margin-top: 50px;
  border-radius: 2rem;
}
.top_ten_player .top_ten_header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 16px;
  color: #a3a8b0;
}
.top_ten_player .top_ten_header .battletag,
.top_ten_player .rating,
.top_ten_player .win_rate,
.top_ten_player .played_games,
.top_ten_player .wins,
.top_ten_player .fav_role {
  text-align: center;
}
.top_ten_player .player_info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 16px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
  border-radius: 2rem;
}
.top_ten_player .player_info .fav_role {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_ten_player .player_info .role {
  filter: brightness(30%) saturate(999%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top_ten_player .player_info .hero {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top_ten_player .fav_hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin-right: 0px;
}

.guides_main_wrapper {
  grid-row: 1/-1;
}

.popular_heroes {
  margin-top: 50px;
  width: 95%;
}
.popular_heroes .head_for_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular_heroes .hero_wrapper {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.popular_heroes .hero_wrapper .hero {
  height: 250px;
  width: 90%;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2);
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
.popular_heroes .hero_wrapper .hero .name {
  margin: 10px;
}
.popular_heroes .hero_wrapper .hero .name .role {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular_heroes .hero_wrapper .hero .name .healer {
  height: 35px;
  width: 35px;
  background-image: url("../img/roles/healer.png");
  filter: brightness(30%) saturate(999%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popular_heroes .hero_wrapper .hero .hero_image {
  cursor: pointer;
  position: absolute;
  right: -15%;
  bottom: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: auto;
}

.trainers {
  margin-top: 30px;
  width: 95%;
  grid-row: 3/4;
}
.trainers .head_for_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trainers .trainer_wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-top: 30px;
}
.trainers .trainer_wrapper .trainer {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
  cursor: pointer;
}
.trainers .trainer_wrapper .trainer .avatar {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.popular_guides {
  margin-top: 30px;
  width: 95%;
  grid-row: 4/6;
  height: 100%;
}
.popular_guides .head_for_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular_guides .guides {
  width: 200px;
  font-size: 14px;
  border: 1px solid #eceffa;
  border-radius: 2rem;
  background: #f6f7ff;
}
.popular_guides .guides_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.popular_guides .guides_wrapper .guide {
  margin-top: 30px;
  height: 400px;
  width: 300px;
  border: 1px solid #eceffa;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
  border-radius: 2rem;
}
.popular_guides .guides_wrapper .guide .head {
  width: 100%;
  height: 45%;
  border-bottom: 1px solid #eceffa;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/avatars/4.jpg");
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  cursor: pointer;
}
.popular_guides .guides_wrapper .guide .caption {
  width: 80%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.popular_guides .guides_wrapper .guide .who_posted {
  width: 80%;
  height: 20%;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #eceffa;
}
.popular_guides .guides_wrapper .guide .who_posted .avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  margin-right: 10px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.popular_guides .guides_wrapper .guide .info {
  width: 80%;
  height: 15%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.popular_guides .guides_wrapper .guide .info .like {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular_guides .guides_wrapper .guide .info .like .love {
  font-size: 24px;
  margin-right: 5px;
}
.popular_guides .guides_wrapper .guide .info i {
  cursor: pointer;
  margin-right: 5px;
}

.hero_info_wrapper {
  grid-row: 1/-1;
}
.hero_info_wrapper .content_hero_info {
  display: flex;
  position: relative;
}
.hero_info_wrapper .content_hero_info:before {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/warcraft.png");
  opacity: 0.05;
}
.hero_info_wrapper .description {
  z-index: 3;
  margin-top: 30px;
  width: 50%;
  height: 100%;
}
.hero_info_wrapper .hero_description {
  width: 100%;
  display: flex;
}
.hero_info_wrapper .hero_description .desc,
.hero_info_wrapper .hero_description .attributes {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
  width: 40%;
  height: 200px;
  border-radius: 2rem;
  margin: 50px 30px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.hero_info_wrapper .hero_description .attributes {
  width: 50%;
}
.hero_info_wrapper .hero_description .role,
.hero_info_wrapper .hero_description .game,
.hero_info_wrapper .hero_description .win_rate,
.hero_info_wrapper .hero_description .about {
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}
.hero_info_wrapper .hero_description .about {
  height: 30%;
  padding: 10px;
}
.hero_info_wrapper .hero_description .win_rate {
  margin-left: 40px;
  margin-bottom: 20px;
}
.hero_info_wrapper .hero_description .role .role_logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url("../img/roles/tank.png");
  filter: brightness(30%) saturate(999%);
}
.hero_info_wrapper .hero_description .game_logo {
  margin-left: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  background-image: url("../img/game_logo/wow.png");
}
.hero_info_wrapper .attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero_info_wrapper .attributes .damage {
  width: 95%;
  height: 20%;
  display: flex;
  align-items: center;
}
.hero_info_wrapper .attributes .damage .caption {
  width: 100%;
}
.hero_info_wrapper .attributes .damage .img_logo {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(30%) saturate(999%);
}
.hero_info_wrapper .attributes .damage .attr {
  margin: 5px;
}
.hero_info_wrapper .attributes .damage .lines {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  width: 90%;
}
.hero_info_wrapper .attributes .damage .lines .line {
  margin: 5px;
  height: 5px;
  border-radius: 30%;
}
.hero_info_wrapper .popular_talents {
  margin-top: 50px;
  width: 95%;
}
.hero_info_wrapper .popular_talents .head_for_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero_info_wrapper .popular_talents .container {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
}
.hero_info_wrapper .popular_talents .container .head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 20%;
  border-bottom: 2px solid #eceffa;
  color: #a3a8b0;
  font-size: 14px;
}
.hero_info_wrapper .popular_talents .container .metas {
  height: 80%;
}
.hero_info_wrapper .popular_talents .container .meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 33%;
}
.hero_info_wrapper .popular_talents .container .talents {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_info_wrapper .popular_talents .container .talents .talent {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px;
}
.hero_info_wrapper .popular_talents .copy_talents {
  font-size: 28px;
  cursor: pointer;
}
.hero_info_wrapper .big_hero {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 80%;
  background-image: url("../img/full_hero/tyrael.png");
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#hellopreloader > p {
  display: none;
}

#hellopreloader_preload {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background: rgba(67, 63, 209, 0) url(http://hello-site.ru//main/images/preloads/tail-spin.svg) center center no-repeat;
  background-size: 150px;
  filter: brightness(0.4) sepia(0.3) saturate(10000%) hue-rotate(220deg);
}

.notification {
  display: block;
  position: relative;
}
.notification ul {
  position: absolute;
  z-index: 10;
  margin-top: 20px;
  left: -100px;
  top: 20px;
  border: 1px solid #eceffa;
}
.notification ul li {
  list-style: none;
  width: 200px;
  border-bottom: 1px solid #eceffa;
  height: 100px;
  background-color: #433fd1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.notification ul li:before {
  z-index: 1;
  position: absolute;
  width: 100px;
  height: 100px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/warcraft.png");
  opacity: 0.2;
}

.user i {
  cursor: pointer;
}

.message_content_wrapper {
  grid-row: 1/-1;
}
.message_content_wrapper .chat_box {
  width: 100%;
  display: flex;
  min-height: 800px;
  max-height: 800px;
}
.message_content_wrapper .chat {
  position: relative;
  width: 70%;
  overflow: auto;
  display: flex;
  flex-direction: row;
}
.message_content_wrapper .chat .messages_box {
  height: calc(100% - 270px);
  width: 100%;
  overflow: auto;
}
.message_content_wrapper .chat .message {
  width: 100%;
  display: flex;
}
.message_content_wrapper .chat .avatar {
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}
.message_content_wrapper .chat .message_content {
  display: flex;
  flex-direction: column;
}
.message_content_wrapper .chat .message_content .name {
  margin: 10px;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.message_content_wrapper .chat .message_content .content {
  padding: 10px;
  border: 1px solid #eceffa;
  background-color: #eceffa;
  max-width: 400px;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  line-height: 20px;
  border-radius: 2rem;
  margin: 5px;
}
.message_content_wrapper .send_message {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 90%;
  height: 250px;
  border-radius: 1rem;
}
.message_content_wrapper .send_message .tools {
  height: 70px;
  border-bottom: 2px solid #eceffa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message_content_wrapper .send_message .left {
  margin-left: 20px;
}
.message_content_wrapper .send_message .fa-grin,
.message_content_wrapper .send_message .fa-italic,
.message_content_wrapper .send_message .fa-bold,
.message_content_wrapper .send_message .fa-folder {
  margin: 5px;
  font-size: 20px;
  padding: 10px;
  background-color: #eceffa;
  border-radius: 5px;
  color: #a3a8b0;
  cursor: pointer;
}
.message_content_wrapper .send_message .fa-grin:hover,
.message_content_wrapper .send_message .fa-italic:hover,
.message_content_wrapper .send_message .fa-bold:hover,
.message_content_wrapper .send_message .fa-folder:hover {
  color: #eceffa;
  background-color: #433fd1;
}
.message_content_wrapper .send_message .send {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  padding: 10px;
  color: #eceffa;
  background-color: #433fd1;
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0px;
}
.message_content_wrapper .send_message .text {
  width: 100%;
  height: calc(100% - 80px);
  resize: none;
  overflow: auto;
  padding: 10px;
  outline: none;
  border: none;
}
.message_content_wrapper .friends {
  border-radius: 2rem;
  background-color: #fff;
  width: 30%;
}
.message_content_wrapper .friends .head {
  height: 60px;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message_content_wrapper .friends .friend_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border: 1px solid #eceffa;
  width: 90%;
  padding: 30px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 2rem;
  cursor: pointer;
}
.message_content_wrapper .friends .friend_info .avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}
.message_content_wrapper .friends .friend_info .info {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
.message_content_wrapper .friends .friend_info .unread {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  color: #f6f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.fa-folder {
  position: relative;
}

.files {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #eceffa;
  font-family: sf-pro;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.main_wrapper {
  width: 100%;
  height: 97%;
  background: #f6f7ff;
  border-radius: 2rem;
  margin: 15px 15px 15px 15px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
}

.header_top {
  margin: 20px 20px 50px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(16, 1fr);
}
.header_top .logo {
  align-self: center;
}
.header_top .header_title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
  font-size: 18px;
}
.header_top .header_search {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 6;
  grid-column-end: 11;
  justify-self: center;
  align-self: center;
  position: relative;
  width: 540px;
}
.header_top .header_search .servers,
.header_top .header_search .search_input,
.header_top .header_search .search_btn {
  position: absolute;
  padding: 10px;
  border-radius: 1rem;
  overflow: hidden;
  outline: none;
  border: none;
  background: #433fd1;
  color: #f6f7ff;
  font-size: 12px;
  cursor: pointer;
}
.header_top .header_search .servers {
  width: 60px;
  left: 0;
  z-index: 2;
}
.header_top .header_search .search_input {
  cursor: auto;
  width: 500px;
  padding-left: 90px;
  background: #fff;
  color: #222;
}
.header_top .header_search .search_btn {
  width: 40px;
  right: 0;
  z-index: 2;
}
.header_top .header_account-mngr {
  grid-column-start: 14;
  grid-column-end: 16;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}
.header_top .header_account-mngr .language {
  padding: 10px;
  border-radius: 1rem;
  overflow: hidden;
  outline: none;
  border: none;
  background: #433fd1;
  color: #f6f7ff;
  font-size: 12px;
  cursor: pointer;
  width: 60px;
}
.header_top .header_account-mngr .chat {
  margin: 20px;
  color: #433fd1;
  font-size: 22px;
  justify-self: center;
  align-self: center;
  position: relative;
}
.header_top .header_account-mngr .favourite {
  margin: 20px;
  color: #433fd1;
  font-size: 22px;
  justify-self: center;
  align-self: center;
  position: relative;
}
.header_top .header_account-mngr .notification {
  margin: 20px;
  color: #433fd1;
  font-size: 22px;
  justify-self: center;
  align-self: center;
  position: relative;
  position: relative;
}
.header_top .header_account-mngr .notification:after {
  content: attr(data-value);
  position: absolute;
  width: 10px;
  height: 10px;
  background: #d53d9c;
  font-size: 10px;
  border-radius: 10px;
  right: -3px;
  top: 0;
  color: #fff;
  text-align: center;
}
.header_top .header_account-mngr .user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_top .header_account-mngr .user .avatar_link {
  position: relative;
}
.header_top .header_account-mngr .user .avatar_link:after {
  padding: 2px;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #3abf5d;
  font-size: 10px;
  border-radius: 10px;
  left: 10px;
  bottom: 15px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fff;
}
.header_top .header_account-mngr .user .avatar {
  margin: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  clip-path: circle(50% at 50% 50%);
}
.header_top .header_account-mngr .user i {
  font-size: 1rem;
}

.content {
  width: 100%;
  display: flex;
}
.content .side_bar {
  width: 250px;
  border-radius: 2rem;
  display: flex;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 10px 2px #eceffa inset;
}
.content .side_bar .games {
  width: 40%;
  height: 100%;
  background: #433fd1;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
}
.content .side_bar .games .game_link,
.content .side_bar .games .add_game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background: #433fd1;
  box-shadow: -1px 2px 30px -8px rgba(236, 239, 250, 0.53);
  margin-top: 30px;
}
.content .side_bar .games .bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background: #433fd1;
  margin-top: 30px;
  font-size: 24px;
  color: #f6f7ff;
}
.content .side_bar .games .dota {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_symbol.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.content .side_bar .games .overwatch {
  background-image: url("https://playoverwatch.com/svg?path=https%3A%2F%2Fstatic.playoverwatch.com%2Fimg%2Flogos%2Flogo--overwatch-7d38f33606.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.content .side_bar .games .heroes_of_the_storm {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/heroes_of_the_storm.png");
}
.content .side_bar .games .add_game {
  border: 3px dashed #f6f7ff;
  color: #f6f7ff;
  box-shadow: inset 8px 100px 7px -5px rgba(236, 239, 250, 0.1);
}
.content .side_bar .games .background_mode {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  grid-row: 10/-1;
}
.content .side_bar .games .background_mode i {
  color: #fff;
  font-size: 38px;
  cursor: pointer;
}
.content .side_bar .games .background_mode i:hover {
  color: #121518;
}
.content .nav {
  width: 100%;
  border-radius: 2rem;
}
.content .nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.content .nav ul .nav_list {
  cursor: pointer;
  width: 100%;
  list-style: none;
  padding: 20px 10px 15px 40px;
  font-size: 12px;
  color: #a3a8b0;
}
.content .nav ul .nav_list i {
  padding: 5px;
  font-size: 1rem;
}
.content .nav ul .nav_list:hover {
  color: #433fd1;
}
.content .nav ul .active {
  color: #433fd1;
}
.content .content_renderer {
  position: relative;
  background-color: #f6f7ff;
  width: calc(100% - 300px);
  margin-left: 50px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}
.content .content_renderer .header {
  font-size: 30px;
  width: 100%;
  color: #433fd1;
  font-weight: 900;
  grid-row: 1/2;
}
.content .content_renderer .info {
  grid-row: 2/4;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.content .content_renderer .info .character_header {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.content .content_renderer .info .character_header .caption {
  color: #121518;
  width: 70%;
  text-align: center;
}
.content .content_renderer .info .character_header i {
  color: #a3a8b0;
  font-size: 1em;
}
.content .content_renderer .info .character_header i:hover {
  color: #433fd1;
}
.content .content_renderer .info .character,
.content .content_renderer .info .role,
.content .content_renderer .info .rank,
.content .content_renderer .info .favourite_hero {
  height: 190px;
  width: 90%;
  border: 1px solid #eceffa;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 20px 1px #eceffa inset, 0px 5px 15px 15px #eceffa;
}
.content .content_renderer .info .favourite_hero {
  margin-right: 20px;
}
.content .content_renderer .info .role,
.content .content_renderer .info .rank,
.content .content_renderer .info .favourite_hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.content .content_renderer .info .role .title,
.content .content_renderer .info .rank .title,
.content .content_renderer .info .favourite_hero .title {
  grid-column: 1/4;
  margin: 20px;
}
.content .content_renderer .info .role .img .role_bruiser,
.content .content_renderer .info .rank .img .role_bruiser,
.content .content_renderer .info .favourite_hero .img .role_bruiser {
  height: 120px;
  margin: -10px 10px 0 20px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-image: url("../img/roles/bruiser.png");
  filter: brightness(30%) saturate(999%);
}
.content .content_renderer .info .role .img img,
.content .content_renderer .info .rank .img img,
.content .content_renderer .info .favourite_hero .img img {
  height: 120px;
  margin: -10px 10px 0 20px;
}
.content .content_renderer .info .role .stats,
.content .content_renderer .info .rank .stats,
.content .content_renderer .info .favourite_hero .stats {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
}
.content .content_renderer .info .role .healer_wrapper,
.content .content_renderer .info .rank .healer_wrapper,
.content .content_renderer .info .favourite_hero .healer_wrapper {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content .content_renderer .info .role .healer,
.content .content_renderer .info .rank .healer,
.content .content_renderer .info .favourite_hero .healer {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-image: url("../img/roles/healer.png");
  filter: brightness(30%) saturate(999%);
}
.content .content_renderer .info .role .difficulty,
.content .content_renderer .info .rank .difficulty,
.content .content_renderer .info .favourite_hero .difficulty {
  margin-bottom: -10px;
}
.content .content_renderer .stats {
  width: 100%;
  grid-column: 2/5;
}
.content .content_renderer .stats strong {
  color: #121518;
  font-size: 12px;
  font-weight: 900;
}
.content .content_renderer .stats .win_rate {
  font-size: 12px;
  color: #a3a8b0;
}
.content .content_renderer .character {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
.content .content_renderer .player > div,
.content .content_renderer section.played_games {
  background: #f6f7ff;
  border-radius: 2rem;
}
.content .content_renderer .fa-ellipsis-h {
  grid-column: 5/-1;
  color: #a3a8b0;
  padding: 20px;
}
.content .statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 4/7;
  margin-top: 30px;
}
.content .statistics .title {
  padding: 20px;
}
.content .title_bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.content .title_bg i {
  margin-right: 10px;
}
.content .content_bg {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}
.content .content_bg figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content .content_bg figure .img {
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin: 10px;
  position: relative;
}
.content .content_bg figure .img.img_1 {
  background-image: linear-gradient(90deg, rgba(67, 63, 209, 0.5) 0%, rgba(213, 61, 156, 0.5) 100%), url("../img/map1.jpg");
}
.content .content_bg figure .img.img_1:after {
  color: #f6f7ff;
  content: attr(data-value);
  position: absolute;
  font-size: 1.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content .content_bg figure .img.img_2 {
  background-image: linear-gradient(90deg, rgba(67, 63, 209, 0.5) 0%, rgba(213, 61, 156, 0.5) 100%), url("../img/map2.jpg");
}
.content .content_bg figure .img.img_2:after {
  color: #f6f7ff;
  content: attr(data-value);
  position: absolute;
  font-size: 1.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content .content_bg figure .img.img_3 {
  background-image: linear-gradient(90deg, rgba(67, 63, 209, 0.5) 0%, rgba(213, 61, 156, 0.5) 100%), url("../img/map3.jpg");
}
.content .content_bg figure .img.img_3:after {
  color: #f6f7ff;
  content: attr(data-value);
  position: absolute;
  font-size: 1.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content .content_bg figure figcaption {
  margin-bottom: 10px;
}
.content .battlegrounds,
.content .last_games {
  height: 270px;
  width: 95%;
  border: 1px solid #eceffa;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 20px 1px #eceffa inset, 0px 5px 15px 15px #eceffa;
}
.content .battlegrounds .last_games_stats,
.content .last_games .last_games_stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 30px 10px 30px;
}
.content .battlegrounds .last_games_dates,
.content .last_games .last_games_dates {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -10px 30px 10px 30px;
}
.content .battlegrounds .last_games_dates > span,
.content .last_games .last_games_dates > span {
  width: 50px;
}
.content .battlegrounds .col,
.content .last_games .col {
  width: 50px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
}
.content .battlegrounds .col > span,
.content .last_games .col > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 0px;
  background: #433fd1;
  border-radius: 1rem;
}
.content .battlegrounds .win_lose,
.content .last_games .win_lose {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 20px;
}
.content .battlegrounds .win_lose > span,
.content .last_games .win_lose > span {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .battlegrounds .win_lose > span:before,
.content .last_games .win_lose > span:before {
  content: "";
  background: #a3a8b0;
  margin-right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.content .battlegrounds .win_lose > span.win:before,
.content .last_games .win_lose > span.win:before {
  background: #433fd1;
}

section.played_games {
  margin-top: 50px;
  height: 320px;
  width: 98%;
  border: 1px solid #eceffa;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1), -20px -15px 17px -9px white, 0px 5px 20px 1px #eceffa inset, 0px 5px 15px 15px #eceffa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-row: 7/-1;
}
section.played_games .title_played_games {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
section.played_games .title_played_games .title {
  padding: 20px;
}
section.played_games .title_played_games i {
  margin-right: 10px;
}
section.played_games .played_games_content {
  width: 95%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.played_games .played_games_content .game {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section.played_games .played_games_content .game .hero_avatar {
  height: 70%;
  width: 55px;
  border: 5px solid #3abf5d;
  border-radius: 100%;
  background-image: url(../img/irel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.played_games .played_games_content .game .hero,
section.played_games .played_games_content .game .mode,
section.played_games .played_games_content .game .map,
section.played_games .played_games_content .game .rating,
section.played_games .played_games_content .game .result,
section.played_games .played_games_content .game .time,
section.played_games .played_games_content .game .talents {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
section.played_games .played_games_content .game .hero {
  flex-direction: row;
  align-items: center;
}
section.played_games .played_games_content .game .hero_name {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
section.played_games .played_games_content .game .talents {
  width: 20%;
}
section.played_games .played_games_content .game .talent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
section.played_games .played_games_content .game .talent_img {
  margin-right: 5px;
  display: block;
  height: 30px;
  width: 16.6666666667%;
  border: 1px solid #3abf5d;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 150px;
  width: 100%;
  border: 1px solid #eceffa;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
}
footer .about {
  grid-column: 1/6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .about .footer_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  font-size: 28px;
}
footer .about .footer_title .hexagon {
  background: #a3a8b0;
}
footer .about .copyright {
  margin-left: 60px;
  margin-top: 10px;
}
footer .footer_menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 6/-1;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
