.message_content_wrapper {
  grid-row: 1/-1;
  //chatbox
  .chat_box {
    width: 100%;
    display: flex;
    min-height: 800px;
    max-height: 800px;
  }
  //chat
  .chat {
    position: relative;
    width: 70%;
    // border: 1px solid black;
    overflow: auto;
    display: flex;
    flex-direction: row;
    .messages_box {
      height: calc(100% - 270px);
      width: 100%;
      overflow: auto;
    }
    .message {
      width: 100%;
      display: flex;
    }
    .avatar {
      margin: 10px;
      @include image_center;
      border: 1px solid black;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
    }
    .message_content {
      display: flex;
      flex-direction: column;
      .name {
        margin: 10px;
        width: 150px;
        justify-content: space-between;
        align-items: center;
      }
      .content {
        padding: 10px;
        border: 1px solid $bluemoon;
        background-color: $bluemoon;
        max-width: 400px;
        word-wrap: anywhere;
        overflow-wrap: anywhere;
        line-height: 20px;
        border-radius: 2rem;
        margin: 5px;
      }
    }
  }
  .send_message {
    // border: 1px solid $blue;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 90%;
    height: 250px;
    border-radius: 1rem;
    //tools
    .tools {
      height: 70px;
      border-bottom: 2px solid $bluemoon;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    // tools buttons
    .left {
      margin-left: 20px;
    }
    .fa-grin,
    .fa-italic,
    .fa-bold,
    .fa-folder {
      margin: 5px;
      font-size: 20px;
      padding: 10px;
      background-color: $bluemoon;
      border-radius: 5px;
      color: $silver;

      cursor: pointer;

      &:hover {
        color: $bluemoon;
        background-color: $blue;
      }
    }
    .send {
      height: 50px;
      @include flex_center;
      font-size: 26px;
      padding: 10px;
      color: $bluemoon;
      background-color: $blue;
      border-radius: 1rem;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      right: 0px;
    }

    //input
    .text {
      width: 100%;
      height: calc(100% - 80px);
      resize: none;
      overflow: auto;
      padding: 10px;
      outline: none;
      border: none;
    }
  }

  // friends
  .friends {
    border-radius: 2rem;
    background-color: #fff;
    width: 30%;
    // border: 1px solid black;

    .head {
      height: 60px;
      width: 100%;
      padding: 30px;
      @include flex_space_between;
    }
    .friend_info {
      @include flex_space_between;
      height: 100px;
      border: 1px solid $bluemoon;
      width: 90%;
      padding: 30px;
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 2rem;
      cursor: pointer;

      .avatar {
        // margin: 10px;
        @include image_center;
        // border: 1px solid black;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
      }
      .info {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        line-height: 20px;
      }
      .unread {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        // background-color: $blue;
        color: $moon;
        @include flex_center;
        border-radius: 50%;
      }
    }
  }
}
// files
.fa-folder {
  // overflow: hidden;
  position: relative;
}
.files {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  opacity: 0;
}
