@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-column($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
  justify-self: center;
  align-self: center;
}
@mixin search {
  position: absolute;
}

@mixin btn {
  padding: 10px;
  border-radius: 1rem;
  overflow: hidden;
  outline: none;
  border: none;
  background: $blue;
  color: $moon;
  font-size: 12px;
  cursor: pointer;
}

@mixin account_manager {
  margin: 20px;
  color: $blue;
  font-size: 22px;
  justify-self: center;
  align-self: center;
  position: relative;
}

@mixin games_menu {
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background: $blue;
}

@mixin game_bg {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin hoverBlue {
  &:hover {
    color: $blue;
  }
}

@mixin main_sections($height, $width) {
  height: $height;
  width: $width;
  border: 1px solid $bluemoon;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1),
    -20px -15px 17px -9px rgb(255, 255, 255),
    0px 5px 20px 1px rgba(236, 239, 250, 1) inset,
    0px 5px 15px 15px rgba(236, 239, 250, 1);
}

@mixin after_battlegraund($content) {
  &:after {
    color: $moon;
    content: $content;
    position: absolute;
    font-size: 1.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@mixin flex_space_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin image_center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
