.content_renderer {
  overflow: hidden;
  .character {
    .update {
      @include flex_center;
      font-size: 10px;
      margin-bottom: 30px;
      color: $silver;
    }
    .refresh {
      transition: ease 1s;
    }
  }
  .level {
    width: 100%;
    height: 50%;

    position: relative;
    @include flex_center;

    .hero_rank {
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: none;

      background-image: url(../img/widowmaker.png);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
    }
    .level_counter {
      @include flex_center;
      position: absolute;
      top: 0;
      right: -40px;
      width: 40px;
      background: $blue;
      color: $bluemoon;
      border-radius: 2rem;
      font-size: 12px;
      padding: 5px;
    }
  }
}

//

// -- vars

$default-size: 100px;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;
// $progress_level: 70;

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

// -- selectors

.pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 15px;
  position: relative;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100px, 100px);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .left-side {
      position: relative;
      &:after {
        //please fix me xD
        position: absolute;
        content: "";
        top: -32px;
        right: 36px;
        width: 25px;
        height: 50px;
        background: $bluemoon;
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
        z-index: 10;
        overflow: hidden;
        clip-path: polygon(
          6% 46%,
          21% 60%,
          32% 66%,
          46% 68%,
          59% 64%,
          70% 57%,
          85% 43%,
          76% 68%,
          62% 78%,
          36% 80%,
          20% 76%,
          11% 65%
        );
        transform: rotate(-95deg);
      }
    }
    .half-circle {
      @include size(100px, 100px);
      border: ($default-size / 10) solid $blue;
      border-radius: 100%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  //
  .shadow {
    @include size(100px, 100px);
    border: $default-size / 10 solid $bluemoon;
    border-radius: 50%;
  }
}
.progress {
  .half-circle {
    border-color: $blue;
  }
}
