.content_renderer {
  overflow: hidden;
  .level {
    width: 100%;
    height: 50%;
    padding: 40px;
    position: relative;
    @include flex_center;

    .hero {
      @include flex_center;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      z-index: 2;
      
      border: 10px solid $silver;
      background-image: url(../img/widowmaker.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .level_counter{
      position: absolute;
    }

    
  }
}
@keyframes animate {
  100% {
    stroke-dashoffset: 260;
  }
}


//





// -- vars

$default-size: 120px;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;
// $progress_level: 70;


// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  
  .pie {
    .half-circle {
      border-color: $color;
    }
    
    .left-side {
      animation: animate 4s infinite;
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}



// -- selectors


.pie-wrapper {
  
  @include size($default-size, $default-size);
  float: left;
  margin: 15px;
  position: relative;
  
  
  &:nth-child(3n + 1) {
    clear: both;
  }
  
  .pie {
    @include size(120px, 120px);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;
    
    .half-circle {
      @include size(120px, 120px);
      border: ($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * .70;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;

  }

  .shadow {
    @include size(120px, 120px);
    border: $default-size / 10 solid $bluemoon;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: $silver;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  

  &.progress {
    @include draw-progress(80, $blue);
    
  }

  
}



