@import "variables";
@import "mixins";
@import "logo";

html,
body {
  background: $bluemoon;
  font-family: $mainFont;
  width: 100%;
  height: 100%;
  position: relative;
  @include flex_center;
}

.main_wrapper {
  width: 100%;
  height: 97%;
  background: $moon;
  border-radius: 2rem;
  margin: 15px 15px 15px 15px;
  border: 1px solid #000;
}

.header_top {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(16, 1fr);

  .logo {
    align-self: center;
  }
  .header_title {
    display: flex;
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
  }
}
