@import "variables";
@import "mixins";
@import "logo";
@import "progressbar";
@import "statistic";
@import "top_players";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: $bluemoon;
  font-family: $mainFont;
  width: 100%;
  position: relative;
  @include flex_center;
}
a {
  text-decoration: none;
}

.main_wrapper {
  width: 100%;
  height: 97%;
  background: $moon;
  border-radius: 2rem;
  margin: 15px 15px 15px 15px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1),
    -20px -15px 17px -9px rgb(255, 255, 255),
    0px 5px 10px 2px rgba(236, 239, 250, 1) inset;
}

.header_top {
  margin: 20px 20px 50px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(16, 1fr);

  .logo {
    align-self: center;
  }
  .header_title {
    @include flex_center;
    @include grid-column(1, 4);
    font-size: 18px;
  }

  .header_search {
    @include flex_center;
    @include grid-column(6, 11);
    position: relative;
    width: 540px;

    .servers,
    .search_input,
    .search_btn {
      @include search;
      @include btn;
    }
    .servers {
      width: 60px;
      left: 0;
      z-index: 2;
    }
    .search_input {
      cursor: auto;
      width: 500px;
      padding-left: 90px;
      background: #fff;
      color: #222;
    }
    .search_btn {
      width: 40px;
      right: 0;
      z-index: 2;
    }
  }

  .header_account-mngr {
    @include grid-column(14, 16);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    .language {
      @include btn;
      width: 60px;
    }
    .chat {
      @include account_manager;
    }
    .favourite {
      @include account_manager;
    }
    .notification {
      @include account_manager;
      position: relative;
      &:after {
        content: "3";
        position: absolute;
        width: 10px;
        height: 10px;
        background: $rose;
        font-size: 10px;
        border-radius: 10px;
        right: -3px;
        top: 0;
        color: #fff;
        text-align: center;
      }
    }

    .user {
      @include flex_center;

      .avatar_link {
        position: relative;

        &:after {
          padding: 2px;
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background: $green;
          font-size: 10px;
          border-radius: 10px;
          left: 10px;
          bottom: 15px;
          text-align: center;
          vertical-align: middle;
          border: 1px solid #fff;
        }
      }
      .avatar {
        margin: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        clip-path: circle(50% at 50% 50%);
      }
      i {
        font-size: 1rem;
      }
    }
  }
}

// left menu bar

.content {
  width: 100%;
  // height: 100%;
  display: flex;

  //sidebars
  .side_bar {
    width: 250px;
    // height: 100%;
    border-radius: 2rem;
    display: flex;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.1),
      -20px -15px 17px -9px rgb(255, 255, 255),
      0px 5px 10px 2px rgba(236, 239, 250, 1) inset;

    //left
    .games {
      width: 40%;
      height: 100%;
      background: $blue;
      border-radius: 2rem;
      display: grid;
      grid-template-rows: repeat(10, 1fr);
      justify-content: center;
      align-items: center;

      //items
      .game_link,
      .add_game {
        @include flex_center;
        @include games_menu;
        box-shadow: -1px 2px 30px -8px rgba(236, 239, 250, 0.53);
        margin-top: 30px;
      }
      .bar {
        @include flex_center;
        @include games_menu;
        margin-top: 30px;
        font-size: 24px;
        color: $moon;
      }
      .dota {
        background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_symbol.png");
        @include game_bg;
      }
      .overwatch {
        background-image: url("https://playoverwatch.com/svg?path=https%3A%2F%2Fstatic.playoverwatch.com%2Fimg%2Flogos%2Flogo--overwatch-7d38f33606.svg");
        @include game_bg;
      }
      .heroes_of_the_storm {
        @include game_bg;
        background-image: url("../img/heroes_of_the_storm.png");
      }

      .add_game {
        border: 3px dashed $moon;
        color: $moon;
        box-shadow: inset 8px 100px 7px -5px rgba(236, 239, 250, 0.1);
      }

      .background_mode {
        @include flex_center;

        align-self: start;
        grid-row: 10/-1;

        i {
          color: #fff;
          font-size: 38px;
          cursor: pointer;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }

  // navigation
  .nav {
    width: 100%;
    border-radius: 2rem;

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      .nav_list {
        cursor: pointer;
        width: 100%;
        list-style: none;
        padding: 20px 10px 15px 40px;
        font-size: 12px;
        color: $silver;

        i {
          padding: 5px;
          font-size: 1rem;
        }

        @include hoverBlue;
      }
      .active {
        color: $blue;
      }
    }
  }

  //content rendering
  .content_renderer {
    background-color: $moon;
    width: calc(100% - 300px);
    margin-left: 50px;
    // height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);

    .header {
      font-size: 30px;
      width: 100%;
      color: $blue;
      font-weight: 900;
      grid-row: 1/2;
    }
    .info {
      grid-row: 2/4;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .character_header {
        width: 100%;
        margin-top: 10px;
        @include flex_center;
        flex-direction: row;
        .caption {
          color: $black;
          width: 70%;
          text-align: center;
        }
        i {
          color: $silver;
          font-size: 1em;
          @include hoverBlue;
        }
      }

      // delete after complete
      .character,
      .role,
      .rank,
      .favourite_hero {
        @include main_sections(190px, 90%);
      }

      .favourite_hero {
        margin-right: 20px;
      }

      .role,
      .rank,
      .favourite_hero {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);

        .title {
          grid-column: 1/4;
          margin: 20px;
        }
        .img img {
          // width: 120px;
          height: ($height + 20px);
          // border: 1px solid #000;
          margin: -10px 10px 0 20px;
        }
        .stats {
          display: flex;
          flex-direction: column;
          height: $height;
          justify-content: space-around;
        }
        .difficulty {
          margin-bottom: -10px;
        }
      }
    }

    .stats {
      strong {
        color: $black;
        font-size: 12px;
        font-weight: 900;
      }
      width: 100%;
      grid-column: 2/5;
      .win_rate {
        font-size: 12px;
        color: $silver;
      }
    }

    .character {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      align-items: center;
    }

    .player > div,
    section.played_games {
      background: $moon;
      border-radius: 2rem;
    }

    .fa-ellipsis-h {
      grid-column: 5/-1;
      color: $silver;
      padding: 20px;
    }
  }
  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 4/7;
    margin-top: 30px;
    .title {
      padding: 20px;
    }
  }
  .title_bg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    i {
      margin-right: 10px;
    }
  }
  .content_bg {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;

    figure {
      @include flex_center;
      flex-direction: column;
      .img {
        width: 120px;
        height: 120px;

        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin: 10px;
        position: relative;

        &.img_1 {
          background-image: $gradient_low_alfa, url("../img/map1.jpg");
          @include after_battlegraund(attr(data-value));
        }
        &.img_2 {
          background-image: $gradient_low_alfa, url("../img/map2.jpg");
          @include after_battlegraund(attr(data-value));
        }
        &.img_3 {
          background-image: $gradient_low_alfa, url("../img/map3.jpg");
          @include after_battlegraund(attr(data-value));
        }
      }
      figcaption {
        margin-bottom: 10px;
      }
    }
  }
  .battlegrounds,
  .last_games {
    @include main_sections(270px, 95%);
    .last_games_stats {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 10px 30px 10px 30px;
    }
    .last_games_dates {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: -10px 30px 10px 30px;

      > span {
        width: 50px;
      }
    }

    .col {
      width: 50px;
      height: 110px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 10px;

      > span {
        @include flex_center;
        width: 20px;
        height: 0px;
        background: $blue;
        border-radius: 1rem;
      }
    }
    .win_lose {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 20px;
      > span {
        margin-right: 50px;
        // width: 50px;
        @include flex_center;
        // position: relative;

        &:before {
          content: "";
          background: $silver;
          margin-right: 20px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
        &.win {
          &:before {
            background: $blue;
          }
        }
      }
    }
  }
}

section.played_games {
  margin-top: 50px;
  @include main_sections(320px, 98%);
  @include flex_center;
  flex-direction: column;
  grid-row: 7/-1;
  // height: 200px;

  .title_played_games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .title {
      padding: 20px;
    }
    i {
      margin-right: 10px;
    }
  }

  .played_games_content {
    width: 95%;
    height: 85%;
    // border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .game {
      height: 30%;
      // border: 1px solid #000;

      display: flex;
      justify-content: space-around;
      align-items: center;

      .hero_avatar {
        height: 70%;
        width: 55px;
        border: 5px solid $green;
        border-radius: 100%;
        background-image: url(../img/irel.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .hero,
      .mode,
      .map,
      .rating,
      .result,
      .time,
      .talents {
        height: 100%;
        display: flex;
        justify-content: space-around;
        // align-items: space-around;
        flex-direction: column;
      }
      .hero {
        flex-direction: row;
        align-items: center;
      }
      .hero_name {
        height: 100%;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
      }
      .talents {
        width: 20%;
      }
      .talent {
        width: 100%;
        // height: 30%;
        @include flex_center;
        justify-content: space-between;
      }

      .talent_img {
        margin-right: 5px;
        display: block;
        height: 30px;
        width: (100% / 6);
        border: 1px solid $green;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

footer {
  height: 150px;
  width: 100%;
  border: 1px solid $bluemoon;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;

  .about {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .footer_title {
      @include flex_center;
      margin-left: 50px;
      font-size: 28px;
      .hexagon {
        background: $silver;
      }
    }
    .copyright {
      margin-left: 60px;
      margin-top: 10px;
    }
  }

  .footer_menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 6/-1;
    justify-content: space-around;
    align-items: center;
  }
}
