$black: #121518;
$blue: #433FD1;
$moon: #ECEFFA;
$green: #3ABF5D;
$rose: #D53D9C;
$gradient: linear-gradient(90deg, rgba(213,61,156,1) 0%, rgba(67,63,209,1) 100%);
$mainFont: sf-pro;

@font-face {
    font-family: 'sf-pro';
    src: url('../fonts/SF-Pro.ttf') format('truetype');
}