$black: #121518;
$blue: #433fd1;
$bluemoon: #eceffa;
$moon: #f6f7ff;
$green: #3abf5d;
$rose: #d53d9c;
$silver: #a3a8b0;
$gradient: linear-gradient(
  90deg,
  rgba(67, 63, 209, 1) 0%,
  rgba(213, 61, 156, 1) 100%
);
$gradient_low_alfa: linear-gradient(
  90deg,
  rgba(67, 63, 209, 0.5) 0%,
  rgba(213, 61, 156, 0.5) 100%
);
$mainFont: sf-pro;
$padding: 1rem;
$height: 100px;

@font-face {
  font-family: "sf-pro";
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "sf-pro-bold";
  src: url("../fonts/SFPro-Bold.ttf") format("truetype");
}

.blue {
  color: $blue;
}

.extra-bold {
  text-shadow: -0.5px 0 $black, 0 0.5px $black, 0.5px 0 $black, 0 -0.5px $black;
}

.bold {
  font-family: sf-pro-bold;
  font-weight: bold;
}

.green {
  color: $green;
}
.font-8 {
  font-size: 8px;
}
.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.silver {
  color: $silver;
}
.h-10 {
  height: 10px;
}
.h-12 {
  height: 12px;
}
.h-14 {
  height: 14px;
}
.h-16 {
  height: 16px;
}
.h-18 {
  height: 18px;
}
.h-20 {
  height: 20px;
}

.black {
  color: $black;
}
.red {
  color: $rose;
}
#border_red {
  border-color: $rose;
}
